:root {
	--dark: #333333;
	--light: #ffffff;
}

.wrapper {
	width: 100%;
	padding: 0;
	height: 100vh;
	background-color: var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-title {
	color: var(--light);
}
