:root {
	--dark: #222222;
	--light-dark: #333333;
	--light: #ffffff;
}
body {
	background-color: var(--dark);
}
.wrapper {
	width: 100%;
	padding: 0;
	height: 100vh;
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.main-container div {
	background-color: var(--light-dark);
}

.app-title {
	color: var(--light);
}

.calculator-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.numpad-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

.display {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: 0 1rem;
}
.output {
	margin: 0;
}
.output h2 {
	text-align: right;
	color: var(--light);
}
.expression {
	overflow: auto;
	margin: 0;
}
.expression p {
	text-align: right;
	color: var(--light);
}
.functions {
	display: flex;
	justify-content: space-evenly;
}

.link-list-container {
	margin: 8vh 0;
	justify-self: flex-start;
}
.link-list-container ul {
	list-style-type: none;
	background-color: var(--dark);
	padding: 0;
}
.link-list-container ul li a {
	text-decoration: none;
}
.link-list-container ul li a div {
	font-size: 1.5rem;
	color: var(--light);
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	border: none;
	background-color: var(--light-dark);
	color: var(--light);
	padding: 0;
	width: 4rem;
	height: 4rem;
}

.btn-select-calculator {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	border: none;
	background-color: var(--dark);
	color: var(--light);
}

.select-calculator-menu {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1rem;
}
@media (max-height: 600px) {
	.btn {
		width: 4rem;
		height: 2.5rem;
	}
}
@media (max-height: 850px) {
	.link-list-container {
		margin: 0;
		justify-self: flex-start;
	}
}
